@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400,700&display=swap");

body {
	margin: 0;
	font-family: "Ubuntu", sans-serif;
	font-size: 1.125rem;
	font-weight: 300;
	line-height: 1.5;
	padding: 0;
}

img {
	width: 100%;
	display: block;
}

/* typography */
h1,
h2,
h3 {
	font-family: "Ubuntu", serif;
	font-weight: 400;
	color: #143774;
}

h1 {
	color: #143774;
	font-size: 2rem;
}
/* logo subtitle */
.subtitle {
	font-weight: 700;
	color: #1792d2;
	font-size: 0.75rem;
	margin: 0;
}

/* Layout */
.container {
	width: 90%;
	max-width: 900px;
	margin: 0 auto;
}

.container-flex {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

header {
	text-align: center;
	background-color: #f8f8f8;
	padding: 2em;
}

@media (min-width: 675px) {
	.container-flex {
		flex-direction: row;
	}
	main {
		width: 70%;
	}

	aside {
		width: 25%;
	}
}

nav ul {
	list-style-type: none;
	padding: 0;
	display: flex;
	justify-content: center;
}
nav li {
	margin-left: 2em;
}
nav a {
	text-decoration: none;
	color: #707070;
	font-size: 0.8rem;
	padding: 0.25em 0;
}
nav a:hover,
nav a:focus {
	color: #1792d2;
}
.current-page {
	border-bottom: 2px solid #1792d2;
}
.current-page:hover {
	color: #707070;
}

.container-nav {
	display: flex;
	justify-content: space-between;
}

.article-title {
	font-size: 1.5rem;
}
.article-read-more,
.article-info {
	font-size: 0.875rem;
}
.article-read-more {
	color: #1792d2;
	text-decoration: none;
	font-weight: 700;
	text-transform: uppercase;
}

.article-read-more:hover,
.article-read-more:focus {
	color: #143374;
	text-decoration: underline;
}

.article-info {
	margin: 2em 0;
}
.article-read-more {
	margin-bottom: 2em;
}
footer {
	background-color: #143374;
	color: #fff;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 2em;
}
footer p {
	margin: 0.25em 0;
}
.footer-sub {
	font-weight: 300;
	font-size: 1rem;
}

/* Media quires */
@media (max-width: 675px) {
	.container-nav {
		flex-direction: column;
	}
	header {
		text-align: center;
	}

	nav ul {
		flex-direction: column;
	}
	nav li {
		margin: 0.5em 0;
	}
}

.article-featured {
	border-bottom: 1px solid #797979;
	/* padding: 1em 0; */
	margin-bottom: 1em;
}

.article-recent {
	display: flex;
	flex-direction: column;
	margin-bottom: 1em;
}

.article-recent-main {
	order: 2;
}

.article-recent-secondary {
	order: 1;
}

@media (min-width: 675px) {
	.article-recent {
		flex-direction: row;
		justify-content: space-between;
	}

	.article-recent-main {
		width: 68%;
		margin-top: 0;
	}
	.article-recent-main-secondary {
		width: 30%;
	}
	.article-featured {
		display: flex;
		flex-direction: column;
	}

	.article-image {
		width: 100%;
		min-height: 220px;
		object-fit: cover;
	}
}

.sidebar-widget {
	border: 20px solid #efefef;
	padding: 1em;
	margin-bottom: 2em;
}

.widget-title {
	font-size: 1rem;
	font-family: "Ubuntu", sans-serif;
	font-weight: 700;
}
.widget-recent-post-title {
	font-size: 0.9rem;
}

.widget-body {
	font-size: 0.9rem;
}

.widget-recent-post {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #787878;
	margin-bottom: 1em;
}
.widget-recent-post:last-child {
	border: 0;
	margin: 0;
}

.widget-image {
	order: -1;
}
